{% include "top_layout.html" %}

{% block content %}
<div class="container">
  <div class="container">
    <div class="container" style="margin-top:30px">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-danger" role="alert">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="container" style="margin-top:30px">
      <p>
        These parameters correspond to the description of the <strong>[YJ14]</strong> scheme,
        published as:
      </p>
      <p>
        <pre>
          K. Yang, and X. Jia, “Expressive, Efficient, and Revocable Data Access Control for
          Multi-Authority Cloud Storage”, in IEEE Transactions on Parallel and Distributed
          Systems, 25(7), IEEE, 2014.
        </pre>
      In this example, ACABELLA looks for a decryption attack via the corruption of one attribute authority.
      </p>
      </div>   
      <form method="post" class="was-validated">
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" name="title" id="title" value="yj14-dec-corr" placeholder="e.g., cm14-dec" style="margin-top:30px" required>
            <small id="fieldDesc" class="form-text text-muted">ABE scheme identifier.</small>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>
          <div class="col">
            <input type="text" class="form-control" name="master_key" id="master_key" value="alpha_i * s" required placeholder="e.g., master key or blinding value" style="margin-top:30px">
            <small id="fieldDesc" class="form-text text-muted">Description of the target.</small>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>
        </div>
        <div class="row">
          <div class="col" style="margin-top:30px">
            <textarea class="form-control" name="k" id="k" rows="3" required placeholder="e.g., [&quot;(alpha_i + r) / b&quot;, &quot;r&quot;]">["alpha_i + x * b + r * bp", "r"]</textarea>
            <small id="fieldDesc" class="form-text text-muted">List of key encodings.</small>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>
          <div class="col" style="margin-top:30px">
            <textarea class="form-control" name="c" id="c" rows="3" required placeholder="e.g., [&quot;s&quot;* &quot;b&quot;]">["s", "s * bp"]</textarea>
            <small id="fieldDesc" class="form-text text-muted">List of ciphertext encodings.</small>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>
        </div>
        <div class="row">
          <div class="col" style="margin-top:30px">
            <textarea class="form-control" name="unknown" id="unknown" rows="3" placeholder="e.g., [&quot;alpha_i&quot;,&quot;b&quot;]">["alpha_i", "b", "bp", "r", "s", "x"]</textarea>
            <small id="fieldDesc" class="form-text text-muted">List of unknown variables.</small>
          </div>
          <div class="col" style="margin-top:30px">
            <textarea class="form-control" name="mpk" id="mpk" rows="3" placeholder="e.g., [&quot;b&quot;]">["b", "bp"]</textarea>
            <small id="fieldDesc" class="form-text text-muted">List of MPK encodings.</small>
          </div>
        </div>
        <div class="row">
          <div class="col" style="margin-top:30px">
            <textarea class="form-control" name="mpk_aai_vars" id="mpk_aai_vars" rows="3" placeholder="e.g., [&quot;b&quot;]">["alpha_i", "x"]</textarea>
            <small id="fieldDesc" class="form-text text-muted">List of MPK encodings of AA[i].</small>
          </div>
          <div class="col" style="margin-top:30px">
            <textarea class="form-control" name="mpk_aaj_vars" id="mpk_aaj_vars" rows="3" placeholder="e.g., [&quot;b&quot;]"></textarea>
            <small id="fieldDesc" class="form-text text-muted">List of MPK encodings of AA[j].</small>
          </div>
        </div>
        <div class="row">
          <div class="col" style="margin-top:30px">
            <textarea class="form-control" name="misc_vars" id="misc_vars" rows="3" placeholder="e.g., [&quot;b&quot;]">["x"]</textarea>
            <small id="fieldDesc" class="form-text text-muted">Generic misc. encodings obtained via corruption.</small>
          </div>
          <div class="col" style="margin-top:30px">
            <textarea class="form-control" name="gp_vars" id="gp_vars" rows="3" placeholder="e.g., [&quot;b&quot;]">{{ request.form['gp_vars'] }}</textarea>
            <small id="fieldDesc" class="form-text text-muted">Global parameter encodings.</small>
          </div>
        </div>
        <div class="row">
          <div class="col" style="margin-top:30px">
            <textarea class="form-control" name="corr_vars" id="corr_vars" rows="3" placeholder="e.g., [{ &quot;type&quot;:&quot;MPK_AA&quot;, &quot;var&quot;:&quot;b&quot;}]">[{ "type":"misc", "var":"x" }]</textarea>
            <small id="fieldDesc" class="form-text text-muted">List of variables obtained via corruption.</small>
          </div>
          <div class="col" style="margin-top:30px">
            <label for="corruption_select">Corruption model</label>
            <select name="corruption_select">
              {% for o in corruption_type %}
              <option value="{{ o.name }}">{{ o.name }}</option>
              {% endfor %}
            </select>               </div>
        </div>
        <button type="submit" class="btn btn-primary" value="Analyze" style="margin-top:30px">Look for decryption key attacks</button>    
      </form>
    </div> 
  </div>  
</div>
{% endblock %}

<p></p>
{% extends "bottom_layout.html" %}

